//registry.npmjs.org/:_authToken=2de8a09408a249f1ec09a39edfd7e474532c4639
//npm.pkg.github.com/:_authToken=2de8a09408a249f1ec09a39edfd7e474532c4639
@ramyel-basyouni:registry=https://npm.pkg.github.com
@ramyel-basyouni:registry=https://registry.npmjs.org